spring:
  application:
    name: {{ application_id }}
  kafka:
    bootstrap-servers: localhost:9092
    streams:
      application-id: {{ application_id }}
      properties:
        default.key.serde: org.apache.kafka.common.serialization.Serdes$StringSerde
        default.value.serde: org.apache.kafka.common.serialization.Serdes$StringSerde
        {% if state_store_needed %}
        state.dir: /tmp/kafka-streams
        {% endif %}
    consumer:
      group-id: {{ consumer_group }}
      auto-offset-reset: earliest

app:
  topics:
    source: {{ source_topics }}
    target: {{ target_topics }}
    dlq: {{ source_topics }}-dlq
