spring:
  cloud:
    stream:
      kafka:
        streams:
          binder:
            application-id: {{ application_id }}
            brokers: localhost:9092
            configuration:
              default.key.serde: org.apache.kafka.common.serialization.Serdes$StringSerde
              default.value.serde: org.apache.kafka.common.serialization.Serdes$StringSerde
              {% if state_store_needed %}
              state.dir: /tmp/kafka-streams
              {% endif %}
      bindings:
        process-in-0:
          destination: {{ source_topics }}
          group: {{ consumer_group }}
        process-out-0:
          destination: {{ target_topics }}
